.navbar{
  background-color: white;
}

.navbar-brand{
  font-size: 1.5rem;
  color:rgb(243, 41, 41);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link{
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link:hover{
  color:rgb(243, 41, 41);
  text-decoration: underline;
}

footer{
  background-color: #ebebeb;
  color: rgb(79, 78, 78);
  text-align: center;
  padding: 12px 0;
  position: static;
}

footer a{
  color: #222222;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
}

footer a:hover{
  text-decoration: underline;
}

.f_text{
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
}

.f_social{
  width: 100%;
}

.f_social a{
  color: #000000;
  margin-right: 8px;
  text-decoration: none;
}

.f_social a:hover{
  color: rgb(243, 41, 41);
}

.f_social a i{
  color: inherit;
}

.f_info_link{
  text-decoration: none;
  font-size: smaller;
  text-align: center;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.f_info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

main.container {
  margin-left: 2rem;
}

main.container {
  padding-bottom: 6rem;
}

.card{
  border:none !important;
  margin-bottom: 1rem;
}

.card-img-top{
  border-radius: 1rem;
  width: 100% !important;
  object-fit: cover !important;
}

.listing-link {
  text-decoration: none;
}

.show-img{
  height: 40vh;
}

.btns{
  display: flex;
}

.box{
  border:1px solid black;
  padding:10px;
  margin-top: 1rem;
  height: fit-content;
  width: fit-content;
}